.identity_layout {
  background-color: #f1f5f9;

  .layout_nav {
    background-color: #f1f5f9;
    box-shadow: 0px 0.5px 5px #ccc;
  }

  .title {
    color: #1e293b;
  }
}

.setted_language {
  color: #000;
}

.language_options {
  background-color: #fff;
}

.language_options:hover {
  background-color: #eeeeee88;
}

.login_form {
  background-color: #cbd5e1;

  .form_label {
    color: #222;
  }

  .form_alert {
    color: #b91c1c;
  }

  .submit_btn {
    background-color: #64748b;
  }

  .submit_btn:hover {
    background-color: #94a3b8;
  }
}

.main_layout {
  background-color: #fbfcfd;

  .main_layout_sidebar {
    background-color: #f1f5f9;
    box-shadow: 0px 0.5px 5px #ccc;
  }

  .main_layout_navbar {
    background-color: #f1f5f9;
    box-shadow: 0px 0.5px 5px #ccc;
  }

  .main_layout_footer {
    background-color: #f1f5f9;
    box-shadow: 0px -0.5px 5px #ccc;
    color: #333;
  }

  .main_layout_sidebar {

    .main_layout_sidebar_title {
      color: #1e293b;
    }

    .main_layout_sidebar_options {
      li {
        color: #333;
      }

      li:hover {
        color: #000;
      }
    }
  }
}